
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


html {
  font-size: 62.5%;
  font-family: 'Michroma', sans-serif;

}


* {
  overflow: hidden;
}


body {
  margin: 0;
  font-family: 'Michroma', sans-serif;
  color: #79d4f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;  
  display: block;
}
